<div class="container">
    <ul>
        <li *ngFor="let task of tasks()">
            {{task}}
        </li>
    </ul>
    <hr />
    <p> Mi nombre es: {{ name() }} and I'm {{ age }} years old</p>
    <hr />

    <img [src]="img" alt="">
    <input type="text" placeholder="Type new todo" [value]="name"/>
    <button [disabled]="disabled">Change name</button>

    <hr />
    <h2>{{ person.name }}</h2>
    <img [src]="person.avatar" alt="">
    <input type="number" placeholder="18" [value]="person.age"/>
    <button [disabled]="disabled">Change name</button>

    <hr />
    <h2>Click Event</h2>
    <button (click)="clickHandler()">Change name</button>
    <button (dblclick)="clickHandler()">Double click alert</button>

    <h2>Change</h2>
    <input type="number" (change)="changeHandler($event)"/>

    <h3>Key Down</h3>
    <input type="text" (keydown)="keyDownHandler($event)"/>

    <h2>Signals</h2>
    <input type="text" (change)="changeHandler($event)"/>
    <p>{{ name() }}</p>

    <ul>
        <p>Total: {{tasks().length}}</p>
        <li *ngFor="let task of tasks(); index as i">
            {{ i }} - {{task}}
        </li>
    </ul>
</div>